### Exploratory Analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/gapminder.tsv', sep = "\t") # Load TSV file

In [3]:
df.head(2)

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314
1  Afghanistan      Asia  1957   30.332  9240934  820.853030

In [4]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [6]:
df.values

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.331999999999997, 9240934,
        820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.1007099999999],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499602999999],
       ['Zimbabwe', 'Africa', 2002, 39.989000000000004, 11926563,
        672.0386227000001],
       ['Zimbabwe', 'Africa', 2007, 43.486999999999995, 12311143,
        469.70929810000007]], dtype=object)

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.shape

(1704, 6)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [10]:
df['country'].head(2)

0    Afghanistan
1    Afghanistan
Name: country, dtype: object

In [11]:
subset = df[['country', 'continent', 'year']]
subset.head(2)

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957

In [12]:
pd.__version__

'0.23.0'

In [13]:
df.loc[2] # indice que tiver o numero 2 (pode ter mais do que um '2' no indice)
df.loc[2:5] # desde o indice 2 at√© 5
df.loc[[2,7]] # indice 2 e 7

       country continent  year  lifeExp       pop   gdpPercap
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
7  Afghanistan      Asia  1987   40.822  13867957  852.395945

In [14]:
df.iloc[2]
df.iloc[2:5]

       country continent  year  lifeExp       pop   gdpPercap
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [15]:
subset = df.loc[:, ['year', 'pop']]
subset.head(2)

   year      pop
0  1952  8425333
1  1957  9240934

In [16]:
df.loc[df['year'] == 1967, ['year', 'pop']].head(2)

    year       pop
3   1967  11537966
15  1967   1984060

In [17]:
df.loc[(df['year'] == 1967) & (df['pop'] > 1_000_000), ['year', 'pop']].head(2)

    year       pop
3   1967  11537966
15  1967   1984060